<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Nova Ação</title>
</head>
<body>
    <h1>Criar Nova Ação</h1>
    <form action="{{ url_for('create') }}" method="POST">
        <label for="name">Nome da Ação:</label>
        <input type="text" name="name" id="name"><br>
        <label for="price">Preço:</label>
        <input type="text" name="price" id="price"><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
